input,textarea,select {
    border-radius: 5px !important;
    background-color: #FAFAFA !important;
}

form textarea{
    resize:none;
    height: 400px;
}

button.cancel{
    border-radius: 50px;
}

input.isearch{
    border: 1px solid lightblue;
    border-radius: 20px;
    height:30px;
    width:250px;
    padding:20px;
}

form option {
    background-color: #fff !important;
}

label.label {
  color: red;
}
