@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
    font-family: cubic;
    src: url(../fonts/cubic/cubic.ttf);
    font-weight: bold;
}

@font-face {
    font-family: blessed;
    src: url(../fonts/blessed/blessed.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Reitam;
    src: url(../fonts/reitam/ReitamRegular.otf);
    font-weight: bold;
}

body {
    background-image: url(../img/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

form {
    padding: 20px;
}

.central{
    border:1px solid #363232;
    border-radius: 10px;
    margin-top:40%;
    background-color: #fff;
    opacity: 0.8;
}

div.central{
    position: relative;
}

h2{
    text-align: center;
    font-family: Reitam;
}

button{
    margin-top: 10px;
}
